@layer base {
  * {
    scrollbar-color: var(--border) transparent;
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar {
    background: transparent;
    height: 14px;
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--border);
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 999px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--muted-foreground);
    background-clip: content-box;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }

  *::-webkit-scrollbar-button {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size:
      5px 5px,
      5px 5px;
    display: block;
    height: 14px;
    width: 14px;
  }

  *::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image:
      linear-gradient(
        135deg,
        transparent calc(50% - 0.75px),
        var(--muted-foreground) calc(50% - 0.75px),
        var(--muted-foreground) calc(50% + 0.75px),
        transparent calc(50% + 0.75px)
      ),
      linear-gradient(
        45deg,
        transparent calc(50% - 0.75px),
        var(--muted-foreground) calc(50% - 0.75px),
        var(--muted-foreground) calc(50% + 0.75px),
        transparent calc(50% + 0.75px)
      );
    background-position:
      calc(50% - 1.75px) center,
      calc(50% + 1.75px) center;
  }

  *::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image:
      linear-gradient(
        45deg,
        transparent calc(50% - 0.75px),
        var(--muted-foreground) calc(50% - 0.75px),
        var(--muted-foreground) calc(50% + 0.75px),
        transparent calc(50% + 0.75px)
      ),
      linear-gradient(
        135deg,
        transparent calc(50% - 0.75px),
        var(--muted-foreground) calc(50% - 0.75px),
        var(--muted-foreground) calc(50% + 0.75px),
        transparent calc(50% + 0.75px)
      );
    background-position:
      calc(50% - 1.75px) center,
      calc(50% + 1.75px) center;
  }

  *::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image:
      linear-gradient(
        45deg,
        transparent calc(50% - 0.75px),
        var(--muted-foreground) calc(50% - 0.75px),
        var(--muted-foreground) calc(50% + 0.75px),
        transparent calc(50% + 0.75px)
      ),
      linear-gradient(
        135deg,
        transparent calc(50% - 0.75px),
        var(--muted-foreground) calc(50% - 0.75px),
        var(--muted-foreground) calc(50% + 0.75px),
        transparent calc(50% + 0.75px)
      );
    background-position:
      center calc(50% - 1.75px),
      center calc(50% + 1.75px);
  }

  *::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image:
      linear-gradient(
        135deg,
        transparent calc(50% - 0.75px),
        var(--muted-foreground) calc(50% - 0.75px),
        var(--muted-foreground) calc(50% + 0.75px),
        transparent calc(50% + 0.75px)
      ),
      linear-gradient(
        45deg,
        transparent calc(50% - 0.75px),
        var(--muted-foreground) calc(50% - 0.75px),
        var(--muted-foreground) calc(50% + 0.75px),
        transparent calc(50% + 0.75px)
      );
    background-position:
      center calc(50% - 1.75px),
      center calc(50% + 1.75px);
  }
}
